.experienceBar{
    display: flex;
    align-items: center;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div{
    /* flex: 1; ocupa a largura maxima do conteiner */
    flex: 1;
    height: 4px;
    border-radius: 4px;
    /* background-color: (var(--gray-line)); */
    /* margin: 0 1.5 rem; //1.5 rem nas laterais seria 20px*/ 
    margin: 0 1.5 rem;
    position: relative;
    background-color: grey;
    
}

.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background-color: var(--green);
}

span.currentExperience{
    position: absolute;
    top: 12px;
    transform: translateX(-50%); /*  menor 50% e desloca e fica no centro */
}