* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter';
}

/* 
Verde: 23BE53
Preto: #060608
Cinza: #333333
Para as fontes: #E7DFDD */

:root{
  --verde: #23BE53;
  --preto: #060608;
  --cinza: #333333;
  --textos: #E7DFDD; 
}

/* se a tela for menor que 1080px a font html vai diminuir */
@media(max-width: 1080px){ 
  html{
      font-size: 93.75%;
  }
}

/* diminui mais um pixel */

@media(max-width: 720px){ 
  html{
      font-size: 87.5%;
  }
}



